html{
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}
body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
  color: #2f3f54;
}
a{
  color: #000;
  text-decoration: none;
  display: inline-block;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header{
  border-top: 1px solid #3983e5;
}
.header__iner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
}
.menu__list a{
  font-size: 14px;
  color: #2f3f54;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  transition: all 0.5s;
}
.menu__list a:hover{
  color: #e74c3c;
  transition: all 0.5s;

}
.menu__list {
  display: flex;
  gap: 38px;
}

.top {
  background-color: #3a83e5;
  padding-top: 150px;
  padding-bottom: 180px;
}
.top__inner {
  display: flex;
}
.top-info {
  max-width: 555px;
  margin-right: 35px;
  color: #fff;
}
.top-info__title {
  font-family: "Roboto", system-ui;
  font-weight: 900;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
}
.top-info__descr {
  font-size: 19px;
  font-weight: 900;
  line-height: 52px;
}
.top-info__descr span{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-bottom: 35px;
}
.top-info__list {
  list-style: none;
  margin-bottom: 50px;
}
.top-info__list li{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 3px;
  padding-left: 24px;
  position: relative;
}
.top-info__list li::before {
  content: "";
  background-image: url(../images/ico-list.png);
  height: 13px;
  width: 13px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.top-info__btn {
  color: #fff;
  text-transform: uppercase;
  border: 3px #fff solid;
  padding: 13px 44px;
  border-radius: 30px;
  margin-bottom: 15px;
  transition: all 1s;
}
.top-info__btn:hover{
  transition: all 1s;
  color: #fff;
  border-radius: 0;
}
.top-images__box {
  position: relative;
}
.top-images__circle {
  width: 230px;
  height: 230px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #212121;
  position: absolute;
  top: -65px;
  right: -70px;
}
.top-images__title {
  margin-bottom: 20px;
  text-align: left;
  width: 140px;
}
.top-images__price {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 10px;
}
.top-images__date {
  text-align: right;
  width: 140px;
}

.price {
  padding: 150px 0 180px;
}
.title {
  text-align: center;
  font-family: "Roboto", system-ui;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}
.title span{
  color: #3a83e5;
}
.price__descr {
  margin: 35px auto 125px;
  max-width: 585px;
  text-align: center;
}
.price__descr span{
  color: #42d6c1;
}
.price__descr a{
  color: #e74c3c;
}
.price__items {
  display: flex;
  justify-content: space-between;
}
.price-item {
  max-width: 360px;
  box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
  padding: 0 50px 60px;
  position: relative;
  overflow: hidden;
}
.price-item__number {
  width: 265px;
  height: 465px;
  border-radius: 136px;
  color: #fff;
  background-color: #267ae9;
  margin: 0 auto;
  position: absolute;
  top: -370px;
  font-family: "Roboto", system-ui;
  font-weight: 700;
  font-size: 33px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 35px;
  letter-spacing: 1px;
}
.price-item__number span {
  font-size: 16px;
}
.price-item__images {
  padding-top: 120px;
  text-align: center;
  margin-bottom: 30px;
  min-height: 157px;
  box-sizing: content-box;
}
.price-item__title {
  margin-bottom: 25px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: #267ae9;
  font-family: "Roboto", system-ui;
}
.price-item__text {
  margin-bottom: 50px;
}
.price-item__list {
  margin-bottom: 75px;
  list-style: none;
}
.price-item__list li{
  font-family: "Roboto", system-ui;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  padding-left: 26px;
  position: relative;
}
.price-item__list li::before{
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/price-icon-list.png);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.price-item__btn {
  font-family: "Roboto", system-ui;
  font-size: 17px;
  color:#fff;
  background-color: #267ae9;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px 10px;
  transition: all 1s;
}
.price-item__btn:hover{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  font-size: 21px;
  transition: all 1s;
}

.footer {
  background-color: #344458;
  padding-top: 80px;
  padding-bottom: 180px;
  font-size: 13px;
  line-height: 22px;
  color: #718db2;
}
.footer__iner {
  display: flex;
  justify-content: space-between;
}
.footer-col {
  width: 270px;
}
.footer-col:first-child{
  margin-right: 70px;
}
.footer-col:last-child{
  margin-left: 50px;
}
.footer__logo {
  padding-bottom: 30px;
}
.footer__text {
  border-bottom: 1px solid #718db2;
  padding-bottom: 30px;
  padding-right: 20px;
}
.footer__title {
  font-family: "Roboto", system-ui;
  font-size: 16px;
  color: #d0e4ff;
  padding-bottom: 30px;
}
.footer__list li{
  list-style-type: none;
  padding-bottom: 10px;
}
.footer__list li a{
  color: #718db2;
  transition: all 0.5s;
}
.footer__list li a:hover{
  color: #d0e4ff;
  transition: all 0.5s;
}
input,
textarea{
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #718db2;
  padding: 15px 10px;
  display: block;
  background-color: #344458;
  border: 1px solid #718db2;
  border-bottom: none;
  width: 268px;
}
textarea::placeholder,
input::placeholder {
  color: #718db2;
}
textarea{
  border-bottom: 1px solid #718db2;
  margin-bottom: 10px;
  height: 85px;
  resize: none;
}
button{
  display: block;
  width: 60px;
  height: 35px;
  font-family: "Roboto", system-ui;
  font-size: 13px;
  color: #fff;
  background-color: #2575e7;
  border: none;
  text-transform: uppercase;
  transition: all 0.5s;
}
button:hover{
  border: 1px solid #fff;
  border-radius: 10px;
}