html{
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}
body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}
a{
  color: #000;
  text-decoration: none;
  display: inline-block;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header{
  border-top: 1px solid #3983e5;
}
.header__iner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
}
.menu__list a{
  font-size: 14px;
  color: #2f3f54;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.menu__list {
  display: flex;
  gap: 38px;
}

.top {
  background-color: #3a83e5;
  padding-top: 150px;
  padding-bottom: 180px;
}
.top__inner {
  display: flex;
}
.top-info {
  max-width: 555px;
  margin-right: 35px;
  color: #fff;
}
.top-info__title {
  font-family: "Roboto", system-ui;
  font-weight: 900;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
}
.top-info__descr {
  font-size: 19px;
  font-weight: 900;
  line-height: 52px;
}
.top-info__descr span{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-bottom: 35px;
}
.top-info__list {
  list-style: none;
  margin-bottom: 50px;
}
.top-info__list li{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 3px;
  padding-left: 24px;
  position: relative;
}
.top-info__list li::before {
  content: "";
  background-image: url(../images/ico-list.png);
  height: 13px;
  width: 13px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.top-info__btn {
  color: #fff;
  text-transform: uppercase;
  border: 3px #fff solid;
  padding: 13px 44px;
  border-radius: 30px;
  margin-bottom: 15px;
}
.top-images__box {
  position: relative;
}
.top-images__circle {
  width: 230px;
  height: 230px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #212121;
  position: absolute;
  top: -65px;
  right: -70px;
}
.top-images__title {
  margin-bottom: 20px;
  text-align: left;
  width: 140px;
}
.top-images__price {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 10px;
}
.top-images__date {
  text-align: right;
  width: 140px;
}
